@import url("http://fonts.googleapis.com/css?family=Iceland");

*{
	-webkit-user-select:none;
	user-select:none;
}


body{
	font-family:Iceland;
	background-image:-webkit-linear-gradient(top,rgb(245, 245, 245) 20%,rgb(205, 205, 205),rgb(195, 195, 195));
}
