table[data-theme=nexus]
{
	border-collapse:collapse;
}

table[data-theme=nexus]>thead
{
	background-color:#034769;
}

table[data-theme=nexus]>thead>tr>th
{
	text-transform:capitalize;
	font-weight:bold;
	color:white;
}


table[data-theme=nexus]>thead>tr>td
{
	padding:5px 10px;
}


table[data-theme=nexus]>tbody>tr>td
{
	color:whitesmoke;
	padding:3px 10px;
}

table[data-theme=nexus]>tbody>tr:nth-child(even)
{
	background-color:#086FA1;
}


table[data-theme=nexus]>tbody>tr:nth-child(odd){
	background-color:#63ADD0;
}

table[data-theme=nexus] tbody td>input[type=checkbox]{
	display:block;
	margin:auto;
}

table[data-theme=nexus] tbody td>a
{
	color:white;
}

