@import url("font-awesome-4.2.0/css/font-awesome.min.css");

@-webkit-keyframes slide_in_from_left{
	from{
		left:-50px;
		opacity:0.1;
	}
	to{
		left:0px;
		opacity:1;
	}
}

@keyframes slide_in_from_left{
	from{
		left:-50px;
		opacity:0.1;
	}
	to{
		left:0px;
		opacity:1;
	}
}

@-webkit-keyframes slide_in_from_right{
	from{
		right:-50px;
		opacity:0.1;
	}
	to{
		right:0px;
		opacity:1;
	}
}

@keyframes slide_in_from_left{
	from{
		right:-50px;
		opacity:0.1;
	}
	to{
		right:0px;
		opacity:1;
	}
}

.nexus.animation.slide_in_from_left{
	-webkit-animation:slide_in_from_left 0.8s 0.3s ease forwards;
	animation:slide_in_from_left 0.8s 0.3s ease forwards;
	position:relative;
}

.nexus.animation.slide_in_from_right{
	-webkit-animation:slide_in_from_right 0.8s 0.3s ease forwards;
	animation:slide_in_from_right 0.8s 0.3s ease forwards;
	position:relative;
}

button,
[onclick],
[onmousedown],
[href],
input[type]:not([type=text]):not([type=""]){
	cursor:pointer;
}

button:focus{
	outline:none;
}

