html{
	padding: 0;
	margin: 0;
	height: 100%;
	width: 100%;
	display: table;
	background-color: rgb(138, 138, 138);
	background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.8));
	color: rgb(20, 20, 20);
	font-family: Tahoma, Arial;
	font-size: 20px;
}

body{
	display: table-cell;
	text-align: center;
	vertical-align: middle;
	padding-top: 50px;
}

head, title{
	display:block;
}

title{
	position: fixed;
	top: 5px;
	left: 0;
	font-size: 40px;
	text-align: center;
	width: 100%;
	line-height: 40px;
	height: 70px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	text-shadow: 2px 2px rgba(0, 0, 0, 0.5);
	box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.5);
	padding: 15px 10px;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	background-image: -webkit-linear-gradient(top,rgba(255, 255, 255, 0.3),rgba(0, 0, 0, 0));
	background-color: rgb(65, 189, 38);
	color: rgb(255, 255, 255);
	-webkit-transform: rotateY(56deg);
	perspective: 10px;
	-webkit-perspective: 10px;
	transform-style: preserve-3d;
	-webkit-transform-style: preserve-3d;
}