@font-face
{
	font-family:chalk;
	src: url(../css/fonts/kimberly-geswein_kg-ten-thousand-reasons/KGTenThousandReasons.ttf);
}

html
{
background-image:-webkit-radial-gradient(center, ellipse cover, transparent ,rgba(0,0,0,0.3)), -webkit-linear-gradient(rgb(204,197,182) 80%,rgb(120,64,54) 80%);
background-image:-moz-radial-gradient(center, ellipse cover, transparent ,rgba(0,0,0,0.3)), -moz-linear-gradient(rgb(204,197,182) 80%,rgb(120,64,54) 80%);
margin:0px;
background-size:100% 80%, 100%;
background-repeat:no-repeat, no-repeat;
height:100%;
overflow-y:hidden;
}

body{
	font-family:chalk,Tahoma,Arial;
	-webkit-font-smoothing:antialiased;
	display:block;
	width:80vw;
	height:80vh;
	margin-top:5vh;
	margin-bottom:10vh;
	margin-left:auto;
	margin-right:auto;
	background-color:rgb(17,64,43);
	padding:20px 30px;
	box-sizing:border-box;
	font-size:16px;
	word-break:break-word;
	color:white;
	overflow-y:auto;
	box-shadow:0 4px 2px 2px rgba(0,0,0,0.2),inset 0 0 10px 10px rgba(0,0,0,0.2);
	border-radius:10px;
	border:#9b6b2f solid 10px;
}

body:after
{
  content:"";
  display:block;
  position:absolute;
  border-radius:0.1em 0.1em 0 0.1em;
  width:50px;
  height:8px;
  background:#f1f1f1;
  bottom:16.5vh;
  right:14.5vw;
  box-shadow:
    inset 0 -4px 1px rgba(0,0,0,0.3),
    -1px -1px 1px rgba(0,0,0,0.2),
    0 2px 0 rgba(0,0,0,0.3);
}

a{
	color:yellow;
}

a[href]:not([href=""]):empty:after{
	content:attr(href);
}

fieldset{
	border:2px groove threedface;
	
	-webkit-padding-before: 0.35em;
	-webkit-padding-start: 0.75em;
	-webkit-padding-end: 0.75em;
	-webkit-padding-after: 0.625em;
}

fieldset.example,
fieldset.notes,
fieldset.references{
	margin: 40px 0px;
	background-color: rgba(0, 0, 0, 0.3);
	counter-increment: example;
}

fieldset legend{
	color:inherit;
	border-bottom:none;
	margin:0px;
}

fieldset.example>legend:before,
fieldset.notes>legend:before,
fieldset.references>legend:before{
	text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.9);
}


fieldset.example legend{
	font-size:inherit;
	text-align:center;
}

fieldset.example>legend:before{
	content: "Example " counter(example) ": ";
}


fieldset.notes>legend:before{
	content: "Notes:";
}


fieldset.references legend:before{
	content:"References:";
}

textarea.code{
	display:block;
	border:none;
	border-radius:5px;
	padding:10px;
	resize:none;
	white-space:pre;
	min-height:60px;
	background-color: rgba(0, 0, 0, 0.5);
	color: rgb(255, 255, 255);
	font-family:monospace;
}

fieldset.example textarea.code{
	width:90%;
	margin:10px auto;
}



textarea:focus{
	outline:none;
}

input[type=button]{
	color:black;
}


