server {
   listen       80;
   server_name  #hostname#;
   root         html/#repo_name#;
   proxy_cache  off;

   access_log  #nginx_log_dir#/#repo_name#_access.log;
   error_log   #nginx_log_dir#/#repo_name#_error.log;

   location / {
       index  index.php index.html index.htm;
       try_files $uri $uri/ @handler =404;
       expires off;
   }

   location ^~ /app/ { deny all; }
   location ^~ /includes/ { deny all; }
   location ^~ /lib/ { deny all; }
   location ^~ /media/downloadable/ { deny all; }
   location ^~ /pkginfo/ { deny all; }
   location ^~ /report/config.xml { deny all; }
   location ^~ /var/ { deny all; }

   location /var/export/ {
       auth_basic "Restricted";
       auth_basic_user_file htpasswd;
       autoindex on;
   }

   location ~* \.(jpe?g|gif|css|png|js|ico|pdf|zip|tar|t?gz|mp3|wav|swf)$ {
       expires 1y;
       error_log #nginx_log_dir#/#repo_name#_404_assets.log;
       log_not_found on;
   }


   location @handler {
      rewrite / /index.php;
   }

   location ~ .php/ {
      rewrite ^(.*.php)/ $1 last;
   }
}
