$full_newsletter_width: 700px !default;


$gap:10px !default;

$color_primary:#2d3092 !default;
$color_primary_light: #9698AF !default;

$color_text:#333 !default;
$color_link:$color_primary !default;
$color_foreground:white !default;
$color_accent:#F5F5F5 !default;

$color_border:#BBBBBB !default;
$color_border_light:#d7d7d7 !default;
$color_border_dark: #c0c0c0 !default;

$font_size:16px !default;
$font_family_fallback:Tahoma, Arial !default;
$font_family_brand:Helvetica, $font_family_fallback !default;
