.window.mac{
font-family:Tahoma, Arial;
display:block;
margin:auto;
max-width:80vw;
width:600px;
max-height:80vh;
min-height:200px;
border-radius:6px;
border:2px solid rgba(0, 0, 0, 0.2);
box-shadow:3px 3px 10px 3px rgba(0,0,0,0.1); 
position:relative;
overflow:hidden;
padding-top:24px;
background-color:rgb(230,230,230);
}

.window>header.title_bar{
display:block;
width:100%;
background-color:rgba(0,0,0,0.1);
height:24px;
line-height:24px;
position:absolute;
top:0;
left:0;
}

.window>header.title_bar .action{
width:18px;
height:18px;
border:none;
margin:0 0 0 5px;;
background:grey;
border-radius:100%;
font-size:14px;
border:1px solid rgba(0,0,0,0.6);
color:white;
position:relative;
top:-1px;
color:white;
padding:0
}

.window>header.title_bar .title{
position:absolute;
width:80%;
left:10%;
text-align:center;
}

.window .window_content{
display:block;
padding:10px;
}

/*
<link rel=stylesheet href="font-awesome-4.3.0/css/font-awesome.css">

<div class="window mac">

<header class=title_bar>
<button class="close action fa fa-close"></button>
<button class="maximize action fa fa-expand"></button>
<label class=title>Window Name</label>
</header>

<div class="window_content">some content in here</div>

</div>

</div>*
/