server {
   listen       80;
   server_name  ~^local\.?(?<domain>.*)\.(wiki).*$;

   root         html/$domain.wiki/;
   proxy_cache  off;

   include      default_locations.conf;

   location / {
       index  index.php index.html index.htm;
       try_files $uri $uri/ @handler =404;
       expires off;
   }
}

server {
   listen       80;
   server_name  ~^local\.?(?<domain>.*)\.(github.com).*$ ~^local\.?(?<domain>.*)\.(bitbucket.org).*$;

   root         html/$domain.$2/;
   proxy_cache  off;

   include      default_locations.conf;

   location / {
       index  index.php index.html index.htm;
       try_files $uri $uri/ @handler =404;
       expires off;
   }
}
