server {

   listen       80;
   server_name  local.you.co.za;
   root         html/you.co.za;
   proxy_cache  off;

   location ~* RetailAd.axd$ {
     rewrite ^ /wp-content/plugins/tf-dfp/RetailAd.php;
   }

   include      default_locations.conf;

   location / {
       index  index.php index.html index.htm;
       try_files $uri $uri/ @handler;
       expires off;
   }

}
