# Redirect everything to the main site. We use a separate server statement and NOT an if statement - see http://wiki.nginx.org/IfIsEvil

server {
	server_name local.wptest.com;
	root html/wptest;

	index index.php;
  include      default_locations.conf;
	#include global/restrictions.conf;

	# Additional rules go here.

	# Only include one of the files below.
	include servers/wordpress.conf;
#	include global/wordpress-ms-subdir.conf;
#	include global/wordpress-ms-subdomain.conf;
}
