<section class="resume-section p-3 p-lg-5 d-flex flex-column" id="latest-9-languages">
    <div class="my-auto">
        <h2 class="mb-5">Recent Languages</h2>
        <bar-chart :data="WakaTimeLanguages" :colors="WakaTimeLanguagesColors" :messages="{empty: 'Loading WakaTime Results...'}" :download="true" download="{{site.wakatime.username}}-languages"></bar-chart>
        <div class="subheading mb-3">Powered by <a href="https://wakatime.com/@{{site.wakatime.username}}">wakatime</a></div>
    </div>
</section>
<script>
  const WakaTime = {
    apiBase: 'https://wakatime.com/share',
    username: '{{site.wakatime.username}}',
    shareID: '{{site.wakatime.shareID}}',
    languages: {
      url: () => {
        return WakaTime.apiBase + '/@' + WakaTime.username + '/' + WakaTime.shareID + '.json';
      },
      get: async function(){
        const myPromise = new Promise(function(resolve, reject) {
          $.ajax({
            type: 'GET',
            url: WakaTime.languages.url(),
            dataType: 'jsonp',
            success: response => {
              resolve(response);
              return response;
            },
            error: response => {
              reject(response);
              return response;
            }
          });
        });

        myPromise.then(response => {
          response.data.forEach(function(i) {
            Resume.vm.WakaTimeLanguages.push([i.name, i.percent]);
          });
          Resume.vm.WakaTimeLanguages = Resume.vm.WakaTimeLanguages.slice(0,10);
          return Resume.vm.WakaTimeLanguages;
        })
        .catch(err => {
          console.group( 'WakaTime info could not be found');
          console.error(err.statusText);
          console.info(err);
          console.groupEnd();
          return [];
        });
      }
    }
  };
</script>
