$full_newsletter_width: 700px !default;


$gap:10px;

$color_text:#333333 !default;
$color_foreground:#F5F5F5 !default;

$font_size:16px;

$font_family_fallback:Tahoma, Arial;
$font_family_brand:Helvetica, $font_family_fallback;
