$font_size:16px;
@import "_newsletter_palette.scss";
@import "_newsletter_mixin.scss";

/* ========== Page Styles ========== */

#bodyCell{padding:$gap*2;}
#templateContainer{width:$full_newsletter_width;}

/**
* @tab Page
* @section background style
* @tip Set the background color and top border for your email. You may want to choose colors that match your company's branding.
* @theme page
*/
body, #bodyTable{
  /*@editable*/ background-color:#F5F5F5;
}

.headerContent{
  color:#333333 !important;
  font-style:normal;
}

/* ========== Header Styles ========== */

/**
* @tab Header
* @section preheader style
* @tip Set the background color and bottom border for your email's preheader area.
* @theme header
*/
#templatePreheader{
  /*@editable*/ background-color:#FFFFFF;
  /*@editable*/ border-bottom:1px solid #CCCCCC;
}

/**
* @tab Header
* @section preheader text
* @tip Set the styling for your email's preheader text. Choose a size and color that is easy to read.
*/
.preheaderContent{
  background-color:$color_accent;
  // font-family: $font_family_brand;
  text-align:right;
  padding-top:$gap/2;
  padding-right:$gap/2;
  padding-bottom:$gap/2;
  padding-left:$gap/2;

  h6{
    text-align:right;
    font-weight:normal;
    margin-bottom:0;
  }
}

/**
* @tab Header
* @section preheader link
* @tip Set the styling for your email's preheader links. Choose a color that helps them stand out from your text.
*/
.preheaderContent a:link, .preheaderContent a:visited, /* Yahoo! Mail Override */ .preheaderContent a .yshortcuts /* Yahoo! Mail Override */{
  /*@editable*/ color:#606060;
  /*@editable*/ font-weight:normal;
  /*@editable*/ text-decoration:underline;
}

/**
* @tab Header
* @section header style
* @tip Set the background color and borders for your email's header area.
* @theme header
*/
#templateHeader{
  /*@editable*/ background-color:#FFFFFF;
  /*@editable*/ border-top:1px solid #FFFFFF;
  /*@editable*/ border-bottom:1px solid #CCCCCC;
}

/**
* @tab Header
* @section header text
* @tip Set the styling for your email's header text. Choose a size and color that is easy to read.
*/
.headerContent{
  /*@editable*/ color:#505050;
  /*@editable*/ font-family:Helvetica;
  /*@editable*/ font-size:20px;
  /*@editable*/ font-weight:bold;
  /*@editable*/ line-height:100%;
  /*@editable*/ padding-top:5px;
  /*@editable*/ padding-right:5px;
  /*@editable*/ padding-bottom:5px;
  /*@editable*/ padding-left:5px;
  /*@editable*/ text-align:left;
  /*@editable*/ vertical-align:middle;
}

/**
* @tab Header
* @section header link
* @tip Set the styling for your email's header links. Choose a color that helps them stand out from your text.
*/
.headerContent a:link, .headerContent a:visited, /* Yahoo! Mail Override */ .headerContent a .yshortcuts /* Yahoo! Mail Override */{
  /*@editable*/ color:#EB4102;
  /*@editable*/ font-weight:normal;
  /*@editable*/ text-decoration:underline;
}

#headerImage{
  height:auto;
  max-width:$full_newsletter_width;
}

/* ========== Body Styles ========== */

/**
* @tab Body
* @section body text
* @tip Set the styling for your email's main content text. Choose a size and color that is easy to read.
* @theme main
*/
.bodyContent{
  /*@editable*/ color:#505050;
  /*@editable*/ font-family:Helvetica;
  /*@editable*/ font-size:16px;
  /*@editable*/ line-height:150%;
  padding-top:20px;
  padding-right:20px;
  padding-bottom:20px;
  padding-left:20px;
  /*@editable*/ text-align:left;
}

/**
* @tab Body
* @section body link
* @tip Set the styling for your email's main content links. Choose a color that helps them stand out from your text.
*/
.bodyContent a:link, .bodyContent a:visited, /* Yahoo! Mail Override */ .bodyContent a .yshortcuts /* Yahoo! Mail Override */{
  /*@editable*/ color:#EB4102;
  /*@editable*/ font-weight:normal;
  /*@editable*/ text-decoration:underline;
}

.bodyContent img{
  display:inline;
  height:auto;
  max-width:560px;
}

/* ========== Column Styles ========== */

.templateColumnContainer{width:310px;}

/**
* @tab Columns
* @section column style
* @tip Set the background color and borders for your email's column area.
*/
#templateColumns{
  /*@editable*/ background-color:#FFFFFF;
  /*@editable*/ border-top:1px solid #FFFFFF;
  /*@editable*/ border-bottom:1px solid #CCCCCC;
}

/**
* @tab Columns
* @section left column text
* @tip Set the styling for your email's left column content text. Choose a size and color that is easy to read.
*/
.leftColumnContent{
  /*@editable*/ color:#505050;
  /*@editable*/ font-family:Helvetica;
  /*@editable*/ font-size:14px;
  /*@editable*/ line-height:150%;
  padding-top:0;
  padding-right:20px;
  padding-bottom:20px;
  padding-left:20px;
  /*@editable*/ text-align:left;
}

/**
* @tab Columns
* @section left column link
* @tip Set the styling for your email's left column content links. Choose a color that helps them stand out from your text.
*/
.leftColumnContent a:link, .leftColumnContent a:visited, /* Yahoo! Mail Override */ .leftColumnContent a .yshortcuts /* Yahoo! Mail Override */{
  /*@editable*/ color:#EB4102;
  /*@editable*/ font-weight:normal;
  /*@editable*/ text-decoration:underline;
}

/**
* @tab Columns
* @section right column text
* @tip Set the styling for your email's right column content text. Choose a size and color that is easy to read.
*/
.rightColumnContent{
  /*@editable*/ color:#505050;
  /*@editable*/ font-family:Helvetica;
  /*@editable*/ font-size:14px;
  /*@editable*/ line-height:150%;
  padding-top:0;
  padding-right:20px;
  padding-bottom:20px;
  padding-left:20px;
  /*@editable*/ text-align:left;
}

/**
* @tab Columns
* @section right column link
* @tip Set the styling for your email's right column content links. Choose a color that helps them stand out from your text.
*/
.rightColumnContent a:link, .rightColumnContent a:visited, /* Yahoo! Mail Override */ .rightColumnContent a .yshortcuts /* Yahoo! Mail Override */{
  /*@editable*/ color:#EB4102;
  /*@editable*/ font-weight:normal;
  /*@editable*/ text-decoration:underline;
}

.leftColumnContent img, .rightColumnContent img{
  display:inline;
  height:auto;
  max-width:310px;
}

/* ========== Footer Styles ========== */

/**
* @tab Footer
* @section footer style
* @tip Set the background color and borders for your email's footer area.
* @theme footer
*/
#templateFooter{
  /*@editable*/ background-color:#FFFFFF;
  /*@editable*/ border-top:1px solid #FFFFFF;
}

/**
* @tab Footer
* @section footer text
* @tip Set the styling for your email's footer text. Choose a size and color that is easy to read.
* @theme footer
*/
.footerContent{
  /*@editable*/ color:#808080;
  /*@editable*/ font-family:Helvetica;
  /*@editable*/ font-size:10px;
  /*@editable*/ line-height:150%;
  padding-top:20px;
  padding-right:20px;
  padding-bottom:20px;
  padding-left:20px;
  /*@editable*/ text-align:left;
}

/**
* @tab Footer
* @section footer link
* @tip Set the styling for your email's footer links. Choose a color that helps them stand out from your text.
*/
.footerContent a:link, .footerContent a:visited, /* Yahoo! Mail Override */ .footerContent a .yshortcuts, .footerContent a span /* Yahoo! Mail Override */{
  /*@editable*/ color:#606060;
  /*@editable*/ font-weight:normal;
  /*@editable*/ text-decoration:underline;
}


@media only screen and (min-width: $full_newsletter_width){
  #templatePreheader{
    display:none !important;
  }

  p{
    line-height:150%;
  }
}
