@import "_newsletter_mixin";
@import "_newsletter_base";
@import "android_mail.scss";

  /* /\/\/\/\/\/\/\/\/ TEMPLATE STYLES /\/\/\/\/\/\/\/\/ */

  /* ========== Page Styles ========== */

  #bodyCell{padding:$gap*2;}
  #templateContainer{width:$full_newsletter_width;}

  /**
  * @tab Page
  * @section background style
  * @tip Set the background color and top border for your email. You may want to choose colors that match your company's branding.
  * @theme page
  */
  body, #bodyTable{
    background-color:$color_foreground;
  }

  /**
  * @tab Page
  * @section email border
  * @tip Set the border for your email.
  */
  #templateContainer{
  /*@editable*/ border:1px solid #BBBBBB;
  }


  .headerContent h4{
  color:#333333 !important;
  font-style:normal;
  }

  #templatePreheader{
    @include screen_only{
      display:none;
    }
  }

  .preheaderContent{
    color:#808080;
    font-family:Helvetica;
    font-size:10px;
    line-height:125%;
    text-align:right;
  }

  /**
  * @tab Header
  * @section preheader link
  * @tip Set the styling for your email's preheader links. Choose a color that helps them stand out from your text.
  */
  .preheaderContent a:link, .preheaderContent a:visited, /* Yahoo! Mail Override */ .preheaderContent a .yshortcuts /* Yahoo! Mail Override */{
  /*@editable*/ color:#606060;
  /*@editable*/ font-weight:normal;
  /*@editable*/ text-decoration:underline;
  }

  /**
  * @tab Header
  * @section header style
  * @tip Set the background color and borders for your email's header area.
  * @theme header
  */
  #templateHeader{
    background-color:#FFFFFF;
    border-top:1px solid #FFFFFF;
    border-bottom:1px solid #CCCCCC;
  }

  /**
  * @tab Header
  * @section header text
  * @tip Set the styling for your email's header text. Choose a size and color that is easy to read.
  */
  .headerContent{
  /*@editable*/ color:#505050;
  /*@editable*/ font-family:Helvetica;
  /*@editable*/ font-size:20px;
  /*@editable*/ font-weight:bold;
  /*@editable*/ line-height:100%;
  /*@editable*/ padding-top:5px;
  /*@editable*/ padding-right:5px;
  /*@editable*/ padding-bottom:5px;
  /*@editable*/ padding-left:5px;
  /*@editable*/ text-align:left;
  /*@editable*/ vertical-align:middle;
  }

  /**
  * @tab Header
  * @section header link
  * @tip Set the styling for your email's header links. Choose a color that helps them stand out from your text.
  */
  .headerContent a:link, .headerContent a:visited, /* Yahoo! Mail Override */ .headerContent a .yshortcuts /* Yahoo! Mail Override */{
  /*@editable*/ color:#EB4102;
  /*@editable*/ font-weight:normal;
  /*@editable*/ text-decoration:underline;
  }

  #headerImage{
  height:auto;
  max-width:700px;
  }

  /* ========== Body Styles ========== */

  /**
  * @tab Body
  * @section body style
  * @tip Set the background color and borders for your email's body area.
  */
  #templateBody{
  /*@editable*/ background-color:#FFFFFF;
  /*@editable*/ border-top:1px solid #FFFFFF;
  /*@editable*/ border-bottom:1px solid #CCCCCC;
  }

  /**
  * @tab Body
  * @section body text
  * @tip Set the styling for your email's main content text. Choose a size and color that is easy to read.
  * @theme main
  */
  .bodyContent{
  /*@editable*/ color:#505050;
  /*@editable*/ font-family:Helvetica;
  /*@editable*/ font-size:16px;
  /*@editable*/ line-height:150%;
  padding-top:20px;
  padding-right:20px;
  padding-bottom:20px;
  padding-left:20px;
  /*@editable*/ text-align:left;
  }

  /**
  * @tab Body
  * @section body link
  * @tip Set the styling for your email's main content links. Choose a color that helps them stand out from your text.
  */
  .bodyContent a:link, .bodyContent a:visited, /* Yahoo! Mail Override */ .bodyContent a .yshortcuts /* Yahoo! Mail Override */{
  /*@editable*/ color:#EB4102;
  /*@editable*/ font-weight:normal;
  /*@editable*/ text-decoration:underline;
  }

  .bodyContent img{
  display:inline;
  height:auto;
  max-width:560px;
  }

  /* ========== Column Styles ========== */

  .templateColumnContainer{width:310px;}

  /**
  * @tab Columns
  * @section column style
  * @tip Set the background color and borders for your email's column area.
  */
  #templateColumns{
  /*@editable*/ background-color:#FFFFFF;
  /*@editable*/ border-top:1px solid #FFFFFF;
  /*@editable*/ border-bottom:1px solid #CCCCCC;
  }

  /**
  * @tab Columns
  * @section left column text
  * @tip Set the styling for your email's left column content text. Choose a size and color that is easy to read.
  */
  .leftColumnContent{
  /*@editable*/ color:#505050;
  /*@editable*/ font-family:Helvetica;
  /*@editable*/ font-size:14px;
  /*@editable*/ line-height:150%;
  padding-top:0;
  padding-right:20px;
  padding-bottom:20px;
  padding-left:20px;
  /*@editable*/ text-align:left;
  }

  /**
  * @tab Columns
  * @section left column link
  * @tip Set the styling for your email's left column content links. Choose a color that helps them stand out from your text.
  */
  .leftColumnContent a:link, .leftColumnContent a:visited, /* Yahoo! Mail Override */ .leftColumnContent a .yshortcuts /* Yahoo! Mail Override */{
  /*@editable*/ color:#EB4102;
  /*@editable*/ font-weight:normal;
  /*@editable*/ text-decoration:underline;
  }

  /**
  * @tab Columns
  * @section right column text
  * @tip Set the styling for your email's right column content text. Choose a size and color that is easy to read.
  */
  .rightColumnContent{
  /*@editable*/ color:#505050;
  /*@editable*/ font-family:Helvetica;
  /*@editable*/ font-size:14px;
  /*@editable*/ line-height:150%;
  padding-top:0;
  padding-right:20px;
  padding-bottom:20px;
  padding-left:20px;
  /*@editable*/ text-align:left;
  }

  /**
  * @tab Columns
  * @section right column link
  * @tip Set the styling for your email's right column content links. Choose a color that helps them stand out from your text.
  */
  .rightColumnContent a:link, .rightColumnContent a:visited, /* Yahoo! Mail Override */ .rightColumnContent a .yshortcuts /* Yahoo! Mail Override */{
  /*@editable*/ color:#EB4102;
  /*@editable*/ font-weight:normal;
  /*@editable*/ text-decoration:underline;
  }

  .leftColumnContent img, .rightColumnContent img{
  display:inline;
  height:auto;
  max-width:310px;
  }

  /* ========== Footer Styles ========== */

  /**
  * @tab Footer
  * @section footer style
  * @tip Set the background color and borders for your email's footer area.
  * @theme footer
  */
  #templateFooter{
  /*@editable*/ background-color:#FFFFFF;
  /*@editable*/ border-top:1px solid #FFFFFF;
  }

  /**
  * @tab Footer
  * @section footer text
  * @tip Set the styling for your email's footer text. Choose a size and color that is easy to read.
  * @theme footer
  */
  .footerContent{
  /*@editable*/ color:#808080;
  /*@editable*/ font-family:Helvetica;
  /*@editable*/ font-size:10px;
  /*@editable*/ line-height:150%;
  padding-top:20px;
  padding-right:20px;
  padding-bottom:20px;
  padding-left:20px;
  /*@editable*/ text-align:left;
  }

  /**
  * @tab Footer
  * @section footer link
  * @tip Set the styling for your email's footer links. Choose a color that helps them stand out from your text.
  */
  .footerContent a:link, .footerContent a:visited, /* Yahoo! Mail Override */ .footerContent a .yshortcuts, .footerContent a span /* Yahoo! Mail Override */{
  /*@editable*/ color:#606060;
  /*@editable*/ font-weight:normal;
  /*@editable*/ text-decoration:underline;
  }

  /* /\/\/\/\/\/\/\/\/ MOBILE STYLES /\/\/\/\/\/\/\/\/ */

      @media only screen and (max-width: 700px){
  /* /\/\/\/\/\/\/ CLIENT-SPECIFIC MOBILE STYLES /\/\/\/\/\/\/ */
  body, table, td, p, a, li, blockquote{-webkit-text-size-adjust:none !important;} /* Prevent Webkit platforms from changing default text sizes */
          body{width:100% !important; min-width:100% !important;} /* Prevent iOS Mail from adding padding to the body */

  /* /\/\/\/\/\/\/ MOBILE RESET STYLES /\/\/\/\/\/\/ */
  #bodyCell{padding:10px !important;}

  /* /\/\/\/\/\/\/ MOBILE TEMPLATE STYLES /\/\/\/\/\/\/ */

  /* ======== Page Styles ======== */

  /**
  * @tab Mobile Styles
  * @section template width
  * @tip Make the template fluid for portrait or landscape view adaptability. If a fluid layout doesn't work for you, set the width to 300px instead.
  */
  #templateContainer{
    max-width:700px !important;
    /*@editable*/ width:100% !important;
  }

  /**
  * @tab Mobile Styles
  * @section heading 1
  * @tip Make the first-level headings larger in size for better readability on small screens.
  */
  h1{
    /*@editable*/ font-size:24px !important;
    /*@editable*/ line-height:100% !important;
  }

  /**
  * @tab Mobile Styles
  * @section heading 2
  * @tip Make the second-level headings larger in size for better readability on small screens.
  */
  h2{
    /*@editable*/ font-size:20px !important;
    /*@editable*/ line-height:100% !important;
  }

  /**
  * @tab Mobile Styles
  * @section heading 3
  * @tip Make the third-level headings larger in size for better readability on small screens.
  */
  h3{
    /*@editable*/ font-size:18px !important;
    /*@editable*/ line-height:100% !important;
  }

  /**
  * @tab Mobile Styles
  * @section heading 4
  * @tip Make the fourth-level headings larger in size for better readability on small screens.
  */
  h4{
    /*@editable*/ font-size:16px !important;
    /*@editable*/ line-height:100% !important;
  }


  /**
  * @tab Mobile Styles
  * @section header image
  * @tip Make the main header image fluid for portrait or landscape view adaptability, and set the image's original width as the max-width. If a fluid setting doesn't work, set the image width to half its original size instead.
  */
  #headerImage{
    height:auto !important;
    /*@editable*/ max-width:700px !important;
    /*@editable*/ width:100% !important;
  }

  /**
  * @tab Mobile Styles
  * @section header text
  * @tip Make the header content text larger in size for better readability on small screens. We recommend a font size of at least 16px.
  */
  .headerContent{
    /*@editable*/ font-size:20px !important;
    /*@editable*/ line-height:125% !important;
  }

  /* ======== Body Styles ======== */

  /**
  * @tab Mobile Styles
  * @section body text
  * @tip Make the body content text larger in size for better readability on small screens. We recommend a font size of at least 16px.
  */
  .bodyContent{
    /*@editable*/ font-size:18px !important;
    /*@editable*/ line-height:125% !important;
  }

  /* ======== Column Styles ======== */

  .templateColumnContainer{display:block !important; width:100% !important;}

  /**
  * @tab Mobile Styles
  * @section column image
  * @tip Make the column image fluid for portrait or landscape view adaptability, and set the image's original width as the max-width. If a fluid setting doesn't work, set the image width to half its original size instead.
  */
  .columnImage{
    height:auto !important;
    /*@editable*/ max-width:700px !important;
    /*@editable*/ width:100% !important;
  }

  /**
  * @tab Mobile Styles
  * @section left column text
  * @tip Make the left column content text larger in size for better readability on small screens. We recommend a font size of at least 16px.
  */
  .leftColumnContent{
    /*@editable*/ font-size:16px !important;
    /*@editable*/ line-height:125% !important;
  }

  /**
  * @tab Mobile Styles
  * @section right column text
  * @tip Make the right column content text larger in size for better readability on small screens. We recommend a font size of at least 16px.
  */
  .rightColumnContent{
    /*@editable*/ font-size:16px !important;
    /*@editable*/ line-height:125% !important;
  }

  /* ======== Footer Styles ======== */

  /**
  * @tab Mobile Styles
  * @section footer text
  * @tip Make the body content text larger in size for better readability on small screens.
  */
  .footerContent{
    /*@editable*/ font-size:14px !important;
    /*@editable*/ line-height:115% !important;
  }

  .footerContent a{display:block !important;} /* Place footer social and utility links on their own lines, for easier access */
  }
