@import "_newsletter_mixin";
@import "_newsletter_base";
@import "android_mail.scss";

  #bodyCell{
    padding:$gap*2;
  }

  body, #bodyTable{
    background-color:$color_accent;
  }


  .headerContent h4{
    color:#333333 !important;

  }

  #templatePreheader{
    @include screen_only{
      display:none;
    }
  }

  .preheaderContent{
    color:#808080;
    font-family:Helvetica;
    font-size:10px;
    line-height:125%;
    text-align:right;
  }

  .preheaderContent{

    a{
      &, &:link, &:visited, .yshortcuts{
        color:#606060;
        font-weight:normal;
        text-decoration:underline;
      }
    }

  }

  #templateHeader{
    background-color:#FFFFFF;
    border-top:1px solid #FFFFFF;

  }

  .headerContent{
  /*@editable*/ color:#505050;
  /*@editable*/ font-family:Helvetica;
  /*@editable*/ font-size:20px;
  /*@editable*/ font-weight:bold;
  /*@editable*/ line-height:100%;
  /*@editable*/ padding-top:5px;
  /*@editable*/ padding-right:5px;
  /*@editable*/ padding-bottom:5px;
  /*@editable*/ padding-left:5px;
  /*@editable*/ text-align:left;
  /*@editable*/ vertical-align:middle;
  }

  /**
  * @tab Header
  * @section header link
  * @tip Set the styling for your email's header links. Choose a color that helps them stand out from your text.
  */
  .headerContent a:link, .headerContent a:visited, /* Yahoo! Mail Override */ .headerContent a .yshortcuts /* Yahoo! Mail Override */{
  /*@editable*/ color:#EB4102;
  /*@editable*/ font-weight:normal;
  /*@editable*/ text-decoration:underline;
  }

  #headerImage{
  height:auto;
  max-width:700px;
}

  /* ========== Column Styles ========== */

  .templateColumnContainer{width:310px;}

  /**
  * @tab Columns
  * @section column style
  * @tip Set the background color and borders for your email's column area.
  */
  #templateColumns{
  /*@editable*/ background-color:#FFFFFF;
  /*@editable*/ border-top:1px solid #FFFFFF;
  /*@editable*/ border-bottom:1px solid #CCCCCC;
  }

  /**
  * @tab Columns
  * @section left column text
  * @tip Set the styling for your email's left column content text. Choose a size and color that is easy to read.
  */
  .leftColumnContent{
  /*@editable*/ color:#505050;
  /*@editable*/ font-family:Helvetica;
  /*@editable*/ font-size:14px;
  /*@editable*/ line-height:150%;
  padding-top:0;
  padding-right:20px;
  padding-bottom:20px;
  padding-left:20px;
  /*@editable*/ text-align:left;
  }

  /**
  * @tab Columns
  * @section left column link
  * @tip Set the styling for your email's left column content links. Choose a color that helps them stand out from your text.
  */
  .leftColumnContent a:link, .leftColumnContent a:visited, /* Yahoo! Mail Override */ .leftColumnContent a .yshortcuts /* Yahoo! Mail Override */{
  /*@editable*/ color:#EB4102;
  /*@editable*/ font-weight:normal;
  /*@editable*/ text-decoration:underline;
  }

  /**
  * @tab Columns
  * @section right column text
  * @tip Set the styling for your email's right column content text. Choose a size and color that is easy to read.
  */
  .rightColumnContent{
  /*@editable*/ color:#505050;
  /*@editable*/ font-family:Helvetica;
  /*@editable*/ font-size:14px;
  /*@editable*/ line-height:150%;
  padding-top:0;
  padding-right:20px;
  padding-bottom:20px;
  padding-left:20px;
  /*@editable*/ text-align:left;
  }

  /**
  * @tab Columns
  * @section right column link
  * @tip Set the styling for your email's right column content links. Choose a color that helps them stand out from your text.
  */
  .rightColumnContent a:link, .rightColumnContent a:visited, /* Yahoo! Mail Override */ .rightColumnContent a .yshortcuts /* Yahoo! Mail Override */{
  /*@editable*/ color:#EB4102;
  /*@editable*/ font-weight:normal;
  /*@editable*/ text-decoration:underline;
  }

  .leftColumnContent img, .rightColumnContent img{
  display:inline;
  height:auto;
  max-width:310px;
  }

  /* ========== Footer Styles ========== */

  /**
  * @tab Footer
  * @section footer style
  * @tip Set the background color and borders for your email's footer area.
  * @theme footer
  */
  #templateFooter{
  /*@editable*/ background-color:#FFFFFF;
  /*@editable*/ border-top:1px solid #FFFFFF;
  }

  /**
  * @tab Footer
  * @section footer text
  * @tip Set the styling for your email's footer text. Choose a size and color that is easy to read.
  * @theme footer
  */
  .footerContent{
  /*@editable*/ color:#808080;
  /*@editable*/ font-family:Helvetica;
  /*@editable*/ font-size:10px;
  /*@editable*/ line-height:150%;
  padding-top:20px;
  padding-right:20px;
  padding-bottom:20px;
  padding-left:20px;
  /*@editable*/ text-align:left;
  }

  /**
  * @tab Footer
  * @section footer link
  * @tip Set the styling for your email's footer links. Choose a color that helps them stand out from your text.
  */
  .footerContent a:link, .footerContent a:visited, /* Yahoo! Mail Override */ .footerContent a .yshortcuts, .footerContent a span /* Yahoo! Mail Override */{
  /*@editable*/ color:#606060;
  /*@editable*/ font-weight:normal;
  /*@editable*/ text-decoration:underline;
  }



.content_block{
  border-top:1px solid $color_border_light;
  border-right:1px solid $color_border_light;
  border-bottom:none;
  border-left:1px solid $color_border_light;

  td.header{
    background-color:$color_primary;
    padding-top:$gap/2;
    padding-right:$gap/2;
    padding-bottom:$gap/2;
    padding-left:$gap/2;
    border-top:1px solid $color_primary;
    border-right:1px solid $color_primary;
    border-left:1px solid $color_primary;

    >*{
      margin-bottom:0;
      color:white;
      font-weight:bold;
    }
  }


  .content_body{
    line-height:150%;
    text-align:left;
    padding-top:$gap;
    padding-right:$gap;
    padding-bottom:$gap;
    padding-left:$gap;

    img{
      display:inline;
      height:auto;
      max-width:560px;
    }
  }


  .footer{
    background-color:$color_accent;
    border-top:1px solid $color_primary;
    text-align:center;
    border-bottom:2px solid $color_border;
    margin-bottom:0;
    padding-top:$gap/2;
    padding-right:$gap/2;
    padding-bottom:$gap/2;
    padding-left:$gap/2;

    a{
      color:$color_link;
    }
  }
}


#focus_block_container{
  padding-top:$gap/2;
  padding-right:$gap/2;
  padding-bottom:$gap/2;
  padding-left:$gap/2;
}

#templateContainer{
  width:$full_newsletter_width;
  border-top:1px solid $color_border;
  border-right:1px solid $color_border;
  border-bottom:1px solid $color_border;
  border-left:1px solid $color_border;
}
