@import "_newsletter_base.scss";
@import "screen.scss";
@import "handheld.scss";
<<<<<<< HEAD
<<<<<<< HEAD


#focus_block_container{
  padding-top: $gap/2;
  padding-right: $gap/2;
  padding-bottom: $gap/2;
  padding-left: $gap/2;
}
=======
>>>>>>> parent of 3db776d... Newsletter | Preheader & Header
=======
>>>>>>> parent of 3db776d... Newsletter | Preheader & Header
