html{
	font-family:Tahoma;
}

body{
	padding-top:50px;
}


nav{
	display:inline-block;
	width:100%;
	background-color:navy;
	position:fixed;
	top:0px;
	left:0px;
	max-height:40px;
}

nav>*{
	padding:10px;
	border-right:1px solid white;
	float:left;
}

nav *{
	color:white;
	text-decoration:none;
	background-color:inherit;
}

nav *:hover{
	background-color:rgba(255,50,50,0.8);
}



nav .dropdown.link{
	position:relative;
}

nav .dropdown.link:hover{
	border-bottom-color:navy;
}

nav .dropdown.link .dropdown.list{
	position:absolute;
	transition:opacity 0.3s ease, top 0.3s ease;
	opacity:0;
	visibility:hidden;
	top:90%;
	left:-1px;
	z-index:-2;
	border:1px solid white;
}

nav .dropdown.link:hover .dropdown.list,
nav .dropdown.link:active .dropdown.list{
	opacity:1;
	top:100%;
	visibility:visible;
}

nav .dropdown.link .dropdown.list>*{
	white-space:nowrap;
	display:block;
	padding:10px;
}


table{
	margin:auto;
	border-collapse:collapse;
}


table tr>*{
	border:1px solid black;
	padding:5px;
}

table>thead,
table>tbody>tr:nth-child(even){
	background-color:rgba(200,200,200,0.8);
}

