server {
  server_name  local.devdashboard.com;
  root         html/devdashboard.com;

  index /public/index.php;

  location / {
      try_files $uri $uri/ /public/index.php?$query_string;
  }

  # Execute php scripts
  location ~ .php$ {

    if ($uri = /markdown.php){
      root html;
    }

    try_files $uri $uri/ =404;

    if (!-e $request_filename) {
      return 404;
    }

    fastcgi_pass 127.0.0.1:9000;
    fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
    include fastcgi_params;
    expires off;
  }

}
