server {

   listen       80;
   #server_name  ~^local\.?(?<domain>.*)\.(?:co\.za|com|org|net);
   #TODO test this with jareds marketinsites.co.za and maybe i can use this for all the wordpress sites?
   #ALSO MAYBE test with the dollar sign at the end
   server_name  ~^local\.?(?<domain>.*)\.(?<tld>);
   #root         html/$domain;
   root         html/$domain.$tld;

   proxy_cache  off;

   include      global/default_locations.conf;

   location / {
       index  index.php index.html index.htm;
       try_files $uri $uri/ @handler;
       expires off;
   }
}
