# Upstream to abstract backend connection(s) for php

server
{
  server_name ~^local\.?(?<domain>machinesofmining.news24)\.(?<tld>com);
  root html/$domain.$tld;

  index index.php index.html;
  #include global/wordpress.conf;
  #include global/default_locations.conf;
  #include global/restrictions.conf;
  autoindex on;
  location = /favicon.ico
  {
    log_not_found off;
    access_log off;
  }

  location = /robots.txt
  {
    allow all;
    log_not_found off;
    access_log off;
  }

  location /
  {
    # This is cool because no php is touched for static content.
    # include the "?$args" part so non-default permalinks doesn't break when using query string
    try_files $uri $uri/ /index.php?$args;
  }

  location ~ \.php$
  {
    #NOTE: You should have "cgi.fix_pathinfo = 0;" in php.ini
    include fastcgi.conf;
    fastcgi_intercept_errors on;
    fastcgi_pass php;
    # fastcgi_param PHP_VALUE "auto_prepend_file=/usr/local/opt/php56-xhgui/external/header.php";
    fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
    fastcgi_param SERVER_NAME local.$domain.$tld;
    add_header XH-Profiling 'Enabled';
    add_header X-NGINX-Server 'wordpress_generic';
  }

  location ~* \.(jpe?g|gif|css|png|js|ico|pdf|zip|tar|t?gz|mp3|wav|swf|woff|bmp)$
  {
    #try_files $uri $uri/  @try_live_environment @try_www_environment @try_staging_environment @try_dev_environment;
    #try_files $uri $uri/  @try_live_environment @try_www_environment @try_staging_environment;
    #try_files $uri $uri/  @try_live_environment @try_www_environment;

    ## TRY LIVE
    try_files $uri $uri/ @try_live_environment;

    ## TRY DEV
    #try_files $uri $uri/  @try_dev_environment;

    ## TRY STAGING
    #try_files $uri $uri/ @try_staging_environment;
    #try_files $uri @suppress_browser_errors;
    expires off;
    #error_log html/logs/assets_not_found.log;
    #log_not_found on;
  }


  location @try_live_environment
  {
    expires max;
    rewrite ^(.*)/wp-content/uploads/(.*)$ http://celebratingwomen.w24.co.za/wp-content/uploads/$2;
  }

  location @try_www_environment
  {
    rewrite ^(.*)/wp-content/uploads/(.*)$ http://www.$domain.$tld/wp-content/uploads/$2;
  }

  location @try_staging_environment
  {
    rewrite ^(.*)/wp-content/uploads/(.*)$ http://staging.$domain.$tld/wp-content/uploads/$2;
  }

  location @try_dev_environment
  {
    rewrite ^(.*)/wp-content/uploads/(.*)$ http://dev.$domain.$tld/wp-content/uploads/$2;
  }


  location ~* \.(js|css|png|jpg|jpeg|gif|ico)$
  {
    expires max;
    log_not_found off;
  }


}
