server {
	server_name local.topgear.co.za;
	root html/topgear.co.za;

	index index.php;
  include global/default_locations.conf;
	include global/restrictions.conf;

	# Only include one of the files below.
	include global/wordpress.conf;
	#	include global/wordpress-ms-subdir.conf;
	#	include global/wordpress-ms-subdomain.conf;
}
