server {
  server_name  local.dashboard.com;
  root         html/dashboard;

	index index.php index.html;
  include global/default_locations.conf;
	include global/restrictions.conf;

	# Only include one of the files below.
	include global/wordpress.conf;
	#	include global/wordpress-ms-subdir.conf;
	#	include global/wordpress-ms-subdomain.conf;
  proxy_read_timeout 6000s;
}
