server {
  server_name  local.30daevanavontuur.co.za;
  root         html/30daevanavontuur.co.za;

	index index.php;
  include global/default_locations.conf;
	include global/restrictions.conf;

	# Only include one of the files below.
	include global/wordpress.conf;
	#	include global/wordpress-ms-subdir.conf;
	#	include global/wordpress-ms-subdomain.conf;
}
