---
layout: default
---
<div class="container-fluid p-0">
  <section class="resume-section p-3 p-lg-5 d-flex d-column" id="about">
    <div class="my-auto">
      <h1 class="mb-0">{{ site.author | truncatewords: 1, ""}}
        <span class="text-primary">{{ site.author | split: " " | last }}</span>
      </h1>
      <div class="subheading mb-5"><a href="tel:{{site.contact.mobile}}">{{site.contact.mobile}}</a> · <a href="mailto:{{site.contact.email}}">{{site.contact.email}}</a></div>
      <p class="lead mb-2">Front End Developer whose passion lies in creating seamless and rich experiences for users.</p>
      <p class="lead mb-5">Iteratively improving upon existing flows whilst leveraging the most suitable technologies have ensured that Craig is able to deliver sustainable and quality solutions.</p>
      <!-- TODO: include chart of pedantic, orangized, documenter - maybe a bar graph? maybe like an ash ketchum pokemon badge -->
      <div class="social-icons">
        <a href="https://linkedin.com/in/{{site.social.linkedin.username}}/" class="mb-1" data-toggle="tooltip" title="linkedin" aria-label="LinkedIn Profile">
          <i class="fab fa-linkedin-in"></i>
        </a>
        <a href="https://gitlab.com/{{site.social.gitlab.username}}" class="mb-1" data-toggle="tooltip" title="gitlab" aria-label="GitLab Profile">
          <i class="fab fa-gitlab"></i>
        </a>
        <a href="https://codepen.io/{{site.social.codepen.username}}" class="mb-1" data-toggle="tooltip" title="codepen" aria-label="CodePen Profile">
          <i class="fab fa-codepen"></i>
        </a>
        <a href="https://stackoverflow.com/users/{{site.social.stackoverflow.userID}}" class="mb-1" data-toggle="tooltip" title="stack-overflow" aria-label="StackOverflow Profile">
          <i class="fab fa-stack-overflow"></i>
        </a>
      </div>
    </div>
  </section>
  <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="experience">
    <div class="my-auto">
      <h2 class="mb-5">
        experience
        <div class="subheading" style="display: inline-block;font-size: 1.5rem;margin-left: 1em;font-style: italic;">...{{ 'now' | date: "%Y"  | minus: 2013 }} Years and counting...</div>
      </h2>
      <div class="resume-item d-flex flex-column flex-md-row mb-5">
        <div class="resume-content mr-auto">
          <h3 class="mb-0">Intermediate Frontend Developer</h3>
          <div class="subheading mb-3">Digioutsource</div>
          <p>Redesigned the internal CMS primarily used to serve users with promotions and offers within the casino.</p>
          <p>Continuously streamlined processes using benchmarking techniques, pipelines, site audits and qa automation</p>
          <p>Mentored intermediate, junior and newbie developers in addition to upskilling backend developers with experiences gained from previously held positions</p>
          <p>Created and maintained a variety of in-house dev tools.</p>
          <p>Often hosted and participated in knowledge sharing workshops</p>
          <p>Documented a myriad of processes, including but not limited to APIs.</p>
          <ol>
            <li>Angular 6</li>
            <li>Typescript 3</li>
            <li>Mongo</li>
            <li>.Net Core (2 + 3)</li>
            <li>Elastic \ Kibana</li>
            <li>GitLab Pipelines</li>
            <li>Postman</li>
            <li>Chai</li>
            <li>JIRA</li>
            <li>Git</li>
          </ol>
        </div>
        <div class="resume-date text-md-right">
          <span class="text-primary">Feb 2019 - Present</span>
        </div>
      </div>
      <div class="resume-item d-flex flex-column flex-md-row mb-5">
        <div class="resume-content mr-auto">
          <h3 class="mb-0">Senior WordPress Developer</h3>
          <div class="subheading mb-3">24.com</div>
          <p>After proving himself as a solid and reliable WordPress developer, Craig had been giving the role of senior developer which encompassed more of the same with additional mentorship, leadership and greater responsibility of the sites in
            which his team had developed. This role not only expected that a developer had an expert understanding of WordPress but it also required Leadership and Direction. Examining new ways to engage clients, upskilling team members, hosting
            tech talks.<br><br>1. PHP<br>2. WordPress<br>3. Custom Built WordPress Themes<br>4. Custom Built WordPress Plugins<br>5. Custom Built Addons for WordPress Plugins<br>6. Laravel<br>7. CSS<br>8. JavaScript<br>9. Composer<br>10.
            Vue.js<br>11. React<br>12. Interacting with RESTful APIs<br>13. Git<br>14. Travis<br>15. Jenkins<br>16. SCRUM and Agile</p>
        </div>
        <div class="resume-date text-md-right">
          <span class="text-primary">Feb 2017 - Jan 2019</span>
        </div>
      </div>
      <div class="resume-item d-flex flex-column flex-md-row mb-5">
        <div class="resume-content mr-auto">
          <h3 class="mb-0">Junior Wordpress Developer</h3>
          <div class="subheading mb-3">24.com</div>
          <p>Having become a proven frontend developer, Craig pursued his career in PHP in which he was tasked with updating, maintaining and creating new WordPress sites for the various brands within Media24<br><br>This role required frontend
            feature updates and bug fixes to existing web mediums under the media24 umbrella.<br><br>1. PHP<br>2. WordPress<br>3. Laravel<br>4. CSS<br>5. JavaScript<br>6. Composer<br>7. Vue.js<br>8. React<br>9. Interacting with RESTful APIs<br>10.
            Git<br>11. Travis<br>12. Jenkins<br>13. SCRUM and Agile</p>
        </div>
        <div class="resume-date text-md-right">
          <span class="text-primary">Feb 2016 - Jun 2017</span>
        </div>
      </div>
      <div class="resume-item d-flex flex-column flex-md-row mb-5">
        <div class="resume-content mr-auto">
          <h3 class="mb-0">Frontend Developer</h3>
          <div class="subheading mb-3">24.com</div>
          <p>This role required frontend feature updates and bug fixes to existing web mediums under the media24 umbrella.<br><br>Technologies and methodologies used were:<br>1. CSS<br>2. JavaScript<br>3. Basic understanding of C# and .Net<br>4.
            Interacting with RESTful APIs<br>5. Git and SVN<br>6. SCRUM and Agile</p>
        </div>
        <div class="resume-date text-md-right">
          <span class="text-primary">Mar 2015 - Feb 2016</span>
        </div>
      </div>
      <div class="resume-item d-flex flex-column flex-md-row">
        <div class="resume-content mr-auto">
          <h3 class="mb-0">Junior Web Developer</h3>
          <div class="subheading mb-3">The BlueBox</div>
          <p>Maintenance and support for Supply Chain Management Companies and Media Houses. This role required a basic knowledge of PHP, Frontend (CSS and JavaScript) and competency with external APIs.</p>
        </div>
        <div class="resume-date text-md-right">
          <span class="text-primary">Aug 2013 - Oct 2014</span>
        </div>
      </div>
    </div>
  </section>
  <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="education">
    <div class="my-auto">
      <h2 class="mb-5">education</h2>
      <div class="resume-item d-flex flex-column flex-md-row mb-5">
        <div class="resume-content mr-auto">
          <h3 class="mb-0">University of KwaZulu-Natal</h3>
          <div class="subheading mb-3">Bachelor of Commerce</div>
          <div>Information Systems and Technology</div>
        </div>
        <div class="resume-date text-md-right">
          <span class="text-primary">2007 - 2012</span>
        </div>
      </div>
      <div class="resume-item d-flex flex-column flex-md-row">
        <div class="resume-content mr-auto">
          <h3 class="mb-0">St. Henry's Marist Brothers College</h3>
          <div class="subheading mb-3">Matric</div>
        </div>
        <div class="resume-date text-md-right">
          <span class="text-primary">1994 - 2005</span>
        </div>
      </div>

    </div>
  </section>
  <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="skills">
    <div class="my-auto">

      <h2 class="mb-5">skills</h2>
      <div class="subheading mb-3">PROGRAMMING LANGUAGES &amp; TOOLS</div>

      <ul class="list-inline dev-icons">
        <li class="list-inline-item" title="PHP" data-toggle="tooltip">
          <i class="fab fa-php"></i>
        </li>
        <li class="list-inline-item" title="HTML5" data-toggle="tooltip">
          <i class="fab fa-html5"></i>
        </li>
        <li class="list-inline-item" title="CSS3" data-toggle="tooltip">
          <i class="fab fa-css3"></i>
        </li>
        <li class="list-inline-item" title="JS" data-toggle="tooltip">
          <i class="fab fa-js"></i>
        </li>
        <li class="list-inline-item" title="Angular" data-toggle="tooltip">
          <i class="fab fa-angular"></i>
        </li>
        <li class="list-inline-item" title="VueJs" data-toggle="tooltip">
          <i class="fab fa-vuejs"></i>
        </li>
        <li class="list-inline-item" title="SASS" data-toggle="tooltip">
          <i class="fab fa-sass"></i>
        </li>
        <li class="list-inline-item" title="LESS" data-toggle="tooltip">
          <i class="fab fa-less"></i>
        </li>
        <li class="list-inline-item" title="WordPress" data-toggle="tooltip">
          <i class="fab fa-wordpress"></i>
        </li>
        <li class="list-inline-item" title="GIT" data-toggle="tooltip">
          <i class="fab fa-git"></i>
        </li>
        <li class="list-inline-item" title="GitHub" data-toggle="tooltip">
          <i class="fab fa-github"></i>
        </li>
        <li class="list-inline-item" title="GitLab" data-toggle="tooltip">
          <i class="fab fa-gitlab"></i>
        </li>
        <li class="list-inline-item" title="Node JS" data-toggle="tooltip">
          <i class="fab fa-node-js"></i>
        </li>
        <li class="list-inline-item" title="Gulp" data-toggle="tooltip">
          <i class="fab fa-gulp"></i>
        </li>
        <li class="list-inline-item" title="Grunt" data-toggle="tooltip">
          <i class="fab fa-grunt"></i>
        </li>
        <li class="list-inline-item" title="npm" data-toggle="tooltip">
          <i class="fab fa-npm"></i>
        </li>
        <li class="list-inline-item" title="Docker" data-toggle="tooltip">
          <i class="fab fa-docker"></i>
        </li>
        <li class="list-inline-item" title="Jenkins" data-toggle="tooltip">
          <i class="fab fa-jenkins"></i>
        </li>
        <li class="list-inline-item" title="Markdown" data-toggle="tooltip">
          <i class="fab fa-markdown"></i>
        </li>
      </ul>

      <div class="subheading mb-3">WORKFLOW</div>

      <ul class="fa-ul mb-0">
        <li>
          <i class="fa-li fa fa-check text-primary"></i>Mobile-First, Responsive Design
        </li>
        <li>
        </li>
        <li>
          <i class="fa-li fa fa-check text-primary"></i>Feature Phone Design
        </li>
        <li>
        </li>
        <li>
          <i class="fa-li fa fa-check text-primary"></i>Cross Browser Testing &amp; Debugging
        </li>
        <li>
        </li>
        <li>
          <i class="fa-li fa fa-check text-primary"></i>Cross Functional Teams
        </li>
        <li>
        </li>
        <li>
          <i class="fa-li fa fa-check text-primary"></i>Agile Development &amp; Scrum
        </li>
        <li>
        </li>
        <li>
          <i class="fa-li fa fa-check text-primary"></i>Continuous Integration &amp; Development
        </li>
        <li>
        </li>
      </ul>

    </div>
  </section>
  <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="interests">
    <div class="my-auto">
      <h2 class="mb-5">interests</h2>
      <p>When i'm not developing, I'm either in a silent disco at home or watching football... most likely watching football. In the off season I try to find new anime to watch or a series on netflix that's thought provoking... However watching
        Vikings conquer other lands is entertaining too!</p>
      <p>When Cape Town's wind behaves, I will venture out beyond my driveway to a mountain that needs hiking, a beach that needs swimming or a travelled area that needs sightseeing</p>
    </div>
  </section>
  <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="built-with">
    <div class="my-auto">
      <h2 class="mb-5">Built With</h2>
      <div class="subheading mb-3">This resume was built with the following technologies...</div>
      <ul class="fa-ul mb-0">
        <li><i class="fa-li fa fa-check text-primary"></i>Jekyll</li>
        <li><i class="fa-li fa fa-check text-primary"></i>Liquid</li>
        <li><i class="fa-li fa fa-check text-primary"></i>GitHub Pages</li>
        <li><i class="fa-li fa fa-check text-primary"></i>SASS</li>
        <li><i class="fa-li fa fa-check text-primary"></i>VueJS</li>
        <li><i class="fa-li fa fa-check text-primary"></i>Bootstrap</li>
        <!--Include mongo, elastic, ci /cd-->
      </ul>
    </div>
  </section>
  {% include wakatime.html %}
</div>
<script type="module" src="/assets/scripts/project.js"></script>
<script type="module" src="/assets/scripts/home.js"></script>
