server {
   listen       80;
   server_name  ~^local\.?(?<domain>.*)\.(?:co\.za|com|org|net);
   root         html/$domain;
   proxy_cache  off;

   include      default_locations.conf;

   location / {
       index  index.php index.html index.htm;
       try_files $uri $uri/ @handler =404;
       expires off;
   }

   location ^~ /app/ { deny all; }
   location ^~ /includes/ { deny all; }
   location ^~ /lib/ { deny all; }
   location ^~ /media/downloadable/ { deny all; }
   location ^~ /pkginfo/ { deny all; }
   location ^~ /report/config.xml { deny all; }
   location ^~ /var/ { deny all; }

   location /var/export/ {
       auth_basic "Restricted";
       auth_basic_user_file htpasswd;
       autoindex on;
   }

   location ~* \.(jpe?g|gif|css|png|js|ico|pdf|zip|tar|t?gz|mp3|wav|swf)$ {
       expires 1y;
       error_log logs/assets_not_found.log;
       log_not_found on;
   }


   location @handler {
      rewrite / /index.php;
   }

   location ~ .php$ {

     if ($uri = /markdown.php){
       root html;
     }

     try_files $uri $uri/ =404;

     if (!-e $request_filename) {
       return 404;
     }

     fastcgi_pass 127.0.0.1:9000;
     fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
     include fastcgi_params;
     expires off;
   }

   location ~ .php/ {
      rewrite ^(.*.php)/ $1 last;
   }
}
